<!DOCTYPE html>
<html>
<head>
  <title>BioHub</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div>
	<h1>Bio-Hub: Scheduled Jobs</h1>
</div>

<%= yield %>

</body>
</html>
